.container
    .row
        .col-md-3
            p.lead Scholarships
            .list-group
                a.list-group-item(href='#') Active
                a.list-group-item(href='#') Past
                p.list-group-item SEARCH BOX HERE
            .thumbnail
                .caption
                    h4 Get notified
                    p If you want to get notifications
        .col-md-9(role="scholarships")
