<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>bolsastecni.co</title>  
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/fonts/raleway/stylesheet.css" />
  <link rel="stylesheet" href="/css/styles.css" />
    
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>

    <header>
        <!-- Welcome Pitch -->
        <div class="row">
          <div class="large-12 columns">
            <img src="/img/headerbanner.png" align="center"></img>
          </div>  
          <hr />
        </div>
    </header>
      



    <nav>
        <div class="row">
            <div class="small-centered large-centered columns">
                <div class="row">
                    <div class="large-4 small-4 columns">
                        <a href=""><h6 class="" align="center">Bolsas Activas</h6></a>
                    </div>
                    <div class="large-4 small-4 columns">
                        <a href="/"><h6 class="" align="center">Bolsas Passadas</h6></a>
                    </div>
                    <div class="large-4 small-4 columns">
                        <a href="#footer"><h6 class="" align="center">Sê notificado</h6></a>
                    </div>

                    
                </div> 
            </div>  
        </div>     
        <hr />
    </nav>    
    
    
    <section>
      <!-- Scholarship List -->
      <div class="row">
          <ul class="large-block-grid-2">
              {{#each scholarships}}
              <li>
              <div class="col">
                  <h6>{{field}}</h6>
                  <p>
                  <a href="{{link}}">{{id}}</a><br /> 
                  Vagas = {{slots}} <br />
                  {{holder}} <br />
                  {{type}} <br />
                  Abertura {{releaseDate}} <br />
                  Fecho {{closeDate}}</p>
                  </col>
              </li>
              {{/each}}  
          </ul>
      </div>
    </section>

    <footer id="footer">
      <hr />    
      <div class="row">
        <div class="large-4 small-4 columns">
            <a href=""><h6 class="" align="">Sabe mais sobre o projecto</h6></a>
        </div>

        <div class="large-4 small-4 columns">
            <a href=""><h6 class="" align="">Sê notificado</h6></a>
            <!-- <p> -->Ao subscrever serás notificado das novas bolsas semanalente<!-- </p> -->
            <!-- Begin MailChimp Signup Form -->
            <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            </style>
            <div id="mc_embed_signup">
              <form action="http://bolsastecni.us7.list-manage.com/subscribe/post?u=b073f024fc95d11adc49d7bdf&amp;id=0cd7be3684" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
                <!-- <div class="indicates-required"><span class="asterisk">*</span>indicates required</div> -->
                <div class="mc-field-group">
                  <!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> -->
                </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                </div>
                <div class="mc-field-group">
                  <!-- <label for="mce-FLNAME">First and Last Name </label> -->
                  <input type="text" value="" name="FLNAME" class="" id="mce-FLNAME" placeholder="Nome">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>  <div class="clear"><input type="submit" value="Subscrever" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
        <div class="large-4 small-4 columns">
            <a href="/"><h6 class="" align="">Twitter</h6></a>
        </div>

      </div>
        
    </footer>
    
    
    
    
    

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/foundation.min.js"></script>
  <!--
  <script src="/js/foundation/foundation.js"></script>
  <script src="/js/foundation/foundation.alerts.js"></script>
  <script src="/js/foundation/foundation.clearing.js"></script>
  <script src="/js/foundation/foundation.cookie.js"></script>
  <script src="/js/foundation/foundation.dropdown.js"></script>
  <script src="/js/foundation/foundation.forms.js"></script>
  <script src="/js/foundation/foundation.joyride.js"></script>
  <script src="/js/foundation/foundation.magellan.js"></script>
  <script src="/js/foundation/foundation.orbit.js"></script>
  <script src="/js/foundation/foundation.reveal.js"></script>
  <script src="/js/foundation/foundation.section.js"></script>
  <script src="/js/foundation/foundation.tooltips.js"></script>
  <script src="/js/foundation/foundation.topbar.js"></script>
  <script src="/js/foundation/foundation.interchange.js"></script>
  <script src="/js/foundation/foundation.placeholder.js"></script>
  <script src="/  js/foundation/foundation.abide.js"></script>
  -->
  <script>
    $(document).foundation();
  </script>
</body>
</html>
