
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>bolsastecni.co</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
<div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="http://bolsastecni.co"><img src="/img/logo.png" height="90px" width="150px"></a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="/">Activas</a></li>
            <li><a href="/past">Expiradas</a></li>
            <li><a href="#signup">Sê notificado</a></li>
            <li><a href="#">Sabe mais</a></li>
          </ul>
        </section>
    </nav>
    <!-- End Navigation -->

    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">

    <!-- Mobile Header -->
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="/img/slider1.png" />
      </div>
    </div>
    <!-- End Mobile Header -->

    </div>
  </div><br>

  <div class="row">
    <div class="large-12 columns">
    <!-- Thumbnails -->
          <ul class="large-block-grid-3">
              {{#each scholarships}}
              <li>
              <div class="col">
                  <h6>{{field}}</h6>
                  <p>
                  <a href="{{link}}" class="button small secondary">{{scholarid}}</a><br /> 
                  <strong>Vagas = {{slots}}</strong> <br />
                  {{holder}} <br />
                  {{type}} <br />
                  Abertura: {{releaseDate}} <br />
                  Fecho: {{closeDate}}</p>
                  </div>
              </li>
              {{/each}}  
          </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-6 columns">
          <div class="panel radius">

          <div class="row">
          <div class="large-12 small-12 columns">

            <h6>Contribui!</h6><hr/>
            <h6 class="subheader"> O bolsastecni.co foi criado por dois alunos(malucos) do IST que queriam um 'pet project' para colocar em prática conhecimentos que iam desenvolvendo por si. O resultado foi um serviço para a comunidade de estudantes, <a href="CóDIGO NO GITHUB">totalmente aberto</a>, disponível para qualquer contribuição.</h6>

          <div class="show-for-small" align="center">
            <a href="#" class="small radius button">adas</a><br>

            <a href="#" class="small radius button">Call To Action!</a>
          </div>

          </div>
       <!--    <div class="large-6 small-6 columns">

            <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
          </p>
        </div> -->

        </div>
        </div>
        </div>

        <div class="large-6 columns">
          <div class="row" id="signup">
            <div class="large-6 columns">
              <!-- Begin MailChimp Signup Form -->
              <h6>Subscrever</h6>
              <div id="mc_embed_signup">
                <form action="http://bolsastecni.us7.list-manage.com/subscribe/post?u=b073f024fc95d11adc49d7bdf&amp;id=0cd7be3684" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  
                  <!-- <div class="indicates-required"><span class="asterisk">*</span>indicates required</div> -->
                  <div class="mc-field-group">
                    <!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> -->
                  </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                  </div>
                  <div class="mc-field-group">
                    <!-- <label for="mce-FLNAME">First and Last Name </label> -->
                    <input type="text" value="" name="FLNAME" class="" id="mce-FLNAME" placeholder="Nome">
                  </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>  <div class="clear"><input type="submit" value="Subscrever" name="subscribe" id="mc-embedded-subscribe" class="button small secondary"></div>
                </form>
              </div>
              <!--End mc_embed_signup-->

            </div>
            <div class="large-6 columns">
              <a href="/"><h6 class="" align="">Twitter</h6></a>
            </div>
          </div>
        </div>    
        </div>

    <!-- End Content -->

      </div>
    </div>
  </div>


  <script>
  document.write('<script src=/js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#featured').orbit({ fluid: '2x1' });
    });
  </script>
  <!-- End Footer -->

</body>
</html>
