.row
    .col-sm-12.col-lg-12.col-md-12
        .thumbnail
            .caption
                h4(role="field")
                a(role="link")
                br
                span.fields Slots: 
                span(role='slots')
                br
                span.fields Holder: 
                span(role='holder')
                br
                span.fields Field: 
                span(role='type')
                br
                span.fields Release Date: 
                span(role='release-date')
                br
                span.fields Close Date: 
                span(role='close-date')
                br
